body {
    padding-top: 70px;
    background-image: url("../imagenes/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

a, h1, form, div {
    color: white;
}

img {
    height: 100px;
    width: 100px;
    padding-top: 10px;
    margin-bottom: 20px;
}

nav, .dropdown-menu {
    background-color: #434343;
    color: #949494;
}

.dropdown-menu li a {
    color: #949494;
}

.dropdown-menu li a:hover {
    background-color: #434343;
    color: white;
}

table {
    margin-top: 250px;
}

.editar {
    color: #fac009;
}

.borrar {
    color: #800b0e;
}

.botonesUtiles {
    padding-top: 40px;
    margin-bottom: 50px;
}

div.img{
    display:table;
    margin-left: 50px;
    margin-bottom: 20px;
}
div.img img{
    margin:0;
    padding:0;
    width: 250px;
    height: 150px;
}
div.img span{
    line-height:normal;
    font-size:11px;
    display:table-caption;
    margin:0;
    background:#646464;
    color:white;
    font-style:italic;
    padding:5px;
    text-align:center;
}

img.logo {
    width: 250px;
    height: 150px;
}

.centrado {
    text-align: center;
}

form.navbar-brand {
    padding-top: 13px;
}

form.formBajo {
    padding-top: 0px;
}

.dropdow li a:hover {
    background-color:#434343;
}

.dropdow li ul {
    display:none;
    position:absolute;
    min-width:140px;
    list-style:none;
}

.dropdow li:hover {
    display:block;
    list-style:none;
}

.dropdow li ul li {
    position:relative;

}

.dropdow li ul li ul {
    right:-140px;
    top:0px;
}